.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contacts-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.contacts-input-form {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 34px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input-form:focus {
  border-color: #4d5ae5;
}

.input-svg-field-wrapper {
  position: relative;
}

.field-contacts-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input-form:focus + .field-contacts-icon {
  fill: #4d5ae5;
}

.contacts-input-wrapper {
  margin-bottom: 8px;
}

.contacts-textarea-wrapper {
  margin-bottom: 16px;
}

.contact-form-text-field {
  display: block;
  width: 256px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-text-field:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.contact-form-text-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

/* CHECKBOX */

.contacts-form-checkbox {
  margin-bottom: 24px;
}

.contacts-form-checkbox-own {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox-input:checked
  + .contacts-form-checkbox-label
  > .contacts-form-checkbox-own {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.contacts-form-checkbox-input:focus
  + .contacts-form-checkbox-label
  > .contacts-form-checkbox-own {
  outline: 2px solid #4d5ae5;
}

.contacts-form-checkbox-label {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contacts-form-checkbox-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  width: 231;
  text-decoration-line: underline;
}

.contacts-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
}

/* TABLET  */

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }

  .close-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-button:hover,
  .close-button:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }

  .contact-form-text-field {
    width: 360px;
  }
  .contacts-form-checkbox-label {
    display: block;
  }

  .contacts-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-form-button:hover,
  .contacts-form-button:focus {
    background-color: #404bbf;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .modal-window {
    padding: 72px 24px 24px;
  }

  .contacts-input-form {
    padding-left: 38px;
  }
}
